<nav class="am-g am-g-fixed blog-fixed blog-nav am-topbar am-topbar-inverse" th:fragment="nav" xmlns:th="http://www.w3.org/1999/xhtml">
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}" ><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
    <h1 class="am-topbar-brand">
        <a href="#">晓诗</a>
    </h1>
    <div class="am-collapse am-topbar-collapse" id="blog-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav">
            <li class="am-active"><a href="/index">首页</a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    古诗 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="index.html">1.唐诗</a></li>
                    <li><a href="lw-index-nosidebar.html">2.宋词</a></li>
                    <li><a href="lw-index-center.html">3.元曲</a></li>
                </ul>
            </li>
            <li><a href="">智能搜</a></li>
            <li><a href="">写诗机器人</a></li>
            <li><a href="" th:if="${userId }">关注</a></li>
            <li><a href="" th:if="${userId }">文章管理</a></li>
            <li><a href="" th:if="${userId }">信息管理</a></li>
        </ul>
        <div class="am-topbar-right">
            <h1 class="am-topbar-brand">
                <a href="/login" class="am-icon-user am-form-inline am-topbar-nav" th:unless="${userId }">&nbsp;登录</a>
                <a href = "#" class=" am-icon-user am-form-inline am-topbar-nav" th:if="${userId }" th:text="'&nbsp;' + ${userId }"></a>
            </h1>
        </div>

        <form class="am-topbar-form am-topbar-right am-form-inline" role="search">
            <div class="am-form-group">
                <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
            </div>
        </form>
    </div>
</nav>
