<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base-html-head::head">
    <title>登录</title>
</head>
<body id="blog-article-sidebar" data-amui="2.x">

<div class="am-g am-g-fixed blog-fixed blog-content">

    <div class="am-u-md-4 am-u-sm-12 blog-sidebar ">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12 blog-sidebar blog-sidebar-widget blog-bor">
            <form action="/user/login" class="am-form" id="doc-vld-msg" method="post">
                <fieldset>
                    <h2 class="blog-text-center blog-title"><span>登录</span></h2>
                    <div class="am-form-group">
                        <input type="text" id="doc-vld-name-2-1" name="accountId" minlength="7" data-validation-message="输入登录邮箱号或手机号" placeholder="手机号或邮箱号" required/>
                    </div>
                    <div class="am-form-group">
                        <input type="password" id="doc-vld-email-2-1" name="password"  placeholder="密码" required/>
                    </div>
                    <div>
                        <a href="#" class="am-text-primary am-text-left" style="float: left">点我注册</a>
                        <a href="#" class="am-text-primary am-text-right" style="float: right">找回密码?</a>
                    </div>
                    <button class="am-radius am-btn-block am-btn am-btn-secondary" type="submit">提交</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="am-u-md-8 am-u-sm-12 blog-sidebar ">
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>About ME</span></h2>
            <img th:src="@{/images/login.jpg}" alt="about us" class="blog-entry-img" >
            <p>晓诗</p>
            <p>博古、通今、晓诗</p>
        </div>
    </div>
</div>

<div th:replace="base-footer::copy"></div>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/js/basic-check.js"></script>
</body>
</html>