<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moon.historyline.mapper.HistoryTimeLineMapper" >
    <sql id="BASE_TABLE">
      history_time_line
    </sql>
    <sql id="BRIEF_INFO">
       event_id, event_title, event_of_type, event_of_id, event_of_name, show_name, upload_user_id, upload_user_name
    </sql>
    <sql id="FULL_INFO">
      event_id, event_title, event_of_type, event_of_id, event_of_name, show_name, upload_user_id, upload_user_name,
      event_content, event_state, data_create_time, data_modify_time, data_is_deleted
    </sql>

    <select id="listHistoryTimeLineByUploadUserId">
        SELECT <include refid="FULL_INFO"/>
        FROM <include refid="BASE_TABLE"/>
        WHERE user_id = #{userId}
        AND  data_is_deleted = 0
    </select>

    <select id="listHistoryTimeLineByEventOfId">
        SELECT <include refid="FULL_INFO"/>
        FROM <include refid="BASE_TABLE"/>
        WHERE event_of_id = #{eventOfId}
        AND event_of_type = #{eventOfType}
        AND data_is_deleted = 0
    </select>

    <select id="getHistoryTimeLineByEventId" parameterType="java.lang.Integer">
        SELECT <include refid="FULL_INFO"/>
        FROM <include refid="BASE_TABLE"/>
        WHERE event_id = #{eventId}
    </select>

    <update id="updateHistoryTimeLineByEventId" parameterType="com.moon.ancientpoetry.common.po.HistoryTimeLine">
        UPDATE <include refid="BASE_TABLE"/>
        <trim prefix="SET" suffixOverrides=",">
            <if test="eventTitle != null">
                event_title = #{eventTitle},
            </if>
            <if test="eventOfType != null">
                event_of_type = #{eventOfType},
            </if>
            <if test="eventOfId != null">
                event_of_id = #{eventOfId },
            </if>
            <if test="eventOfName != null">
                event_of_name = #{eventOfName },
            </if>
            <if test="showName != null">
                show_name = #{showName },
            </if>
            <if test="uploadUserId != null">
                upload_user_id = #{uploadUserId },
            </if>
            <if test="uploadUserName != null">
                upload_user_name = #{uploadUserName },
            </if>
            <if test="eventContent != null">
                event_content = #{eventContent },
            </if>
            <if test="eventState != null">
                event_state = #{eventState },
            </if>
            <if test="dataIsDeleted != null">
                data_is_deleted = #{dataIsDeleted },
            </if>
        </trim>
        WHERE event_id = #{eventId }
    </update>

    <insert id="insertBatchHistoryTimeLine">
        INSERT INTO <include refid="BASE_TABLE"/>
        (
        <include refid="BRIEF_INFO"/>
        )
        VALUE
        <foreach collection="list" item="historyTimeLine" separator=",">
            (null, #{historyTimeLine.eventTitle }, #{historyTimeLine.eventOfType }, #{historyTimeLine.eventOfId },
            #{historyTimeLine.eventOfName }, #{historyTimeLine.showName }, #{historyTimeLine.uploadUserId},
            #{historyTimeLine.uploadUserName}, #{historyTimeLine.eventContent }, #{historyTimeLine.eventState})
        </foreach>
    </insert>

    <insert id="insertHistoryTimeLine" parameterType="com.moon.ancientpoetry.common.po.HistoryTimeLine">
        INSERT INTO <include refid="BASE_TABLE"/>
        (
        <include refid="BRIEF_INFO"/>
        )
        VALUE
        (null, #{eventTitle }, #{eventOfType }, #{eventOfId }, #{eventOfName }, #{showName }, #{uploadUserId}, #{uploadUserName},
        #{eventContent }, #{eventState})

    </insert>
</mapper>